[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
pathlib = "*"
pandas = "*"
aiohttp = "*"
aiofiles = "*"
trafilatura = "*"
vadersentiment = "*"
spacy = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.10"
